html, body {
  position relative
  height: 100%
  overflow hidden
}

* {
  margin: 0
  padding: 0
  box-sizing border-box

  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;

  touch-action: none;
}

body {
  background black
}

#canvas {
  position fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
}


.instructions {
  color: white
  position fixed
  top: 10px
  right: 10px
}
